body{
            background-color: lightgreen;
            font-style: Arial;
            font-size: 20px;
            padding:0px;
        }
        .ovreBoks{
            position: center;
            left:auto;
            top:auto;
            width: 97%;
            height: 200px;
            background-color: green;
            border: 10px solid darkgreen;
            text-align: center;
            margin:auto;
        }
        .bildeAre{
            position:absolute;
            left:55px;
            top:30px;
            width:120px;
            height:auto;
            border: 7px solid darkgreen;
        }
        .tabellAre{
            border-collapse: separate;
            border-spacing: 15px;
        }
        .tekstAre{
            font-size: 25px;
            font-style:oblique;
            margin-top:100px;
        }
        .knappAre{
            position:absolute;
            background-color: lightgray;
            right:40px;
            width: 120px;;
            height:auto;
            top:90px;
            border: 5px solid grey;
        }
        .knappAre:hover{
            background-color: grey;
            cursor:pointer;
            border: 5px solid black;
        }