body{
    margin: 0;
    background-color: #bfdcfb;
    font-family: Arial, Helvetica, sans-serif;
    color:#1e3d59;
}
h1, h2, h3, h4{
    color:#ffffff;
    text-shadow:1px 1px 3px #1e3d59;
}
.header-container{
    background-color: #1e3d59;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.dropdown{
    position: absolute;
    right: 2rem;
}
.dropdown button{
    background-color: white;
    color: #1e3d59;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    right: 1rem;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    right: 0;
    top:100%;
    border-radius: 8px;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.799);
    overflow: hidden;
    transition: background-color 0.3s;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgba(113, 150, 194, 0.9);
}
.content a:hover{
    background-color: rgba(113, 150, 194, 0.9);
}
main{
    padding: 30px;
}
.box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.box{
    width: 450px;
    height: 500px;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bilde-box{
    box-shadow: 2px 2px 5px #1e3d59, -2px -2px 5px #1e3d59;
    background-size: cover;
    background-position: center;
}
#box2{
    overflow: hidden;
    padding:15px;
    box-sizing: border-box;
    height: 650px;
    border-radius: 0px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: hidden;
    border: 2px solid;
}
th, td{
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border: 1px solid;
    font-size:15px;
}
th{
    font-weight: bold;
}
td{
    word-wrap:break-word;
    white-space: normal;
}
footer{
    background-color: #1e3d59;
    color: white;
    text-align:center;
    padding: 40px;
    margin-top: 30px;
}
footer p{
    margin: 8px 0;
    font-size: 14px;
}
.lenker{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 10px 0;
}
.lenker a{
    color: white;
    font-size: 50px;
    text-decoration: none;
    transition: transform 0.3s;
}
.lenker a:hover{
    transform: scale(1.4);
}